# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
build/
dist/
*.spec

# Node
node_modules/
dist/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
backend/data/
backend/models/
frontend/.webdev/
frontend/.manus-logs/
